:443 {
    root * /var/www/public
    php_fastcgi laravel-app:9000
    file_server
    encode gzip

    tls {
        on_demand
        ask http://localhost:80/caddy/verify
    }

    log {
        output stdout
        format console
    }
}
